---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}
    
    <div class="page__footer">
      <footer class="page-footer transparent">
          <div class="footer-copyright transparent">
            <div class="container">
              <p class="black-text">&copy; 2022 Mudit Garg</p>
            </div>
          </div>
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
